Demo.ServiceClients.Products/Service References/ServiceReference/ProductsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductsOverviewListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsOverviewRowDto" nillable="true" type="tns:ProductsOverviewRowDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsOverviewListDto" nillable="true" type="tns:ProductsOverviewListDto" />
  <xs:complexType name="ProductsOverviewRowDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSubcategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeUnitMeasureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbNailPhoto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="WeightUnitMeasureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsOverviewRowDto" nillable="true" type="tns:ProductsOverviewRowDto" />
  <xs:complexType name="ProductDetailsRowDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LargePhoto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSubcategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeUnitMeasureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightUnitMeasureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetailsRowDto" nillable="true" type="tns:ProductDetailsRowDto" />
  <xs:complexType name="ProductCategoryListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategoryRowDto" nillable="true" type="tns:ProductCategoryRowDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategoryListDto" nillable="true" type="tns:ProductCategoryListDto" />
  <xs:complexType name="ProductCategoryRowDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategoryRowDto" nillable="true" type="tns:ProductCategoryRowDto" />
  <xs:complexType name="ProductSubcategoryListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSubcategoryRowDto" nillable="true" type="tns:ProductSubcategoryRowDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSubcategoryListDto" nillable="true" type="tns:ProductSubcategoryListDto" />
  <xs:complexType name="ProductSubcategoryRowDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSubcategoryRowDto" nillable="true" type="tns:ProductSubcategoryRowDto" />
</xs:schema>